#background-container {
  width: 82%;
  height: 100%;
  position: fixed;
  z-index: 0;

  @include transition(all 300ms linear);

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient($black 0%, transparentize($black, 1));
  }
}

.background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;

  img,
  span {
    display: none;
  }
}
