/**
  Global Body & Wrappers
  ---------------------------------------------------------------------- */
html,
body {
  max-width: 100%;
  background-color: $black;
}

/**
  Global Link Defaults
  ---------------------------------------------------------------------- */
a {
  text-decoration: none;
}

/**
  Wordpress Image Alignment
  ---------------------------------------------------------------------- */
.aligncenter {
  margin: 1em auto;
}

.alignleft {
  margin: 1em 1em 1em 0;
}

.alignright {
  margin: 1em 0 1em 1em;
}

/**
  Page Sections
  ---------------------------------------------------------------------- */
.page-section {
  @include grid(center, center);

  min-height: 100vh;
  width: 82vw;
  position: relative;
  z-index: 100;
}
